body {
  background-color: #e5ebf1;
}
.logo {
  width: 100px;
}
.no-decoration {
  text-decoration: none;
}
.black-txt {
 color: black;
}
.side-box {
  background-color: #7C99AC;
  width: 250px;
  padding: 10px;
  height: 550px;
}
.add-button {
  background-color: #e5ebf1 !important;
  color: black !important;
  border: none !important;
  width: 200px;
}
.bold:hover {
  font-weight: 900;
  cursor: pointer;
}
.m-0-15 {
  margin: 5% 15%;
}